*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    color: #C5C6C7;

}

nav{
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    background-color: #3B9797;   
    border: 2px solid #45829E;
    background-color: rgba(0,0,0,0.6); 
    box-shadow: 0 0 10px #45A29E;
    backdrop-filter: blur(10px);
   
}

nav .logo{
    width: 55px;
    height: 55px;
    background: url("logoo.jpeg") no-repeat center center ;
    background-size: cover;
    border-radius: 60%;
    box-shadow: 0 0 30px #45A29E;
    color: #fff;
    font-weight: 1.5 rem;
    font-size: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #16476A;
  transition: font-size 0.3s ease-out;
  
}

nav ul li a:hover{

    
    background-color: #45A29E;
    color: #0B0C10;
    box-shadow: 0 0 15px #45A29E, 0 0 30px #66FCF1;
    font-size: 1.1rem;
}

body {
    background-color: #0B0C10;
}

section{
    padding: 60px;
    flex-direction: column;
    align-items: center;
    background-color: #1F2833;
    color: #C5C6C7;
    margin-bottom: 40px;
    margin-top: 40px;
    border: 2px solid #45829E;
    transition: font-size 0.3s ease-out;
    box-shadow: 0 0 10px #45A29E20 inset;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

section:hover{
    font-size: 17px;
    transform: scale(1.02);
    box-shadow: 0 0 20px #66FCF1;
    background-color: #16202B;
}

h1, h2, h3 {
    color: #66FCF1;
    text-shadow: 0 0 5px #66FCF1, 0 0 10px #45A29E;
}
h1{
    text-decoration: underline double;
}
h2{
    text-decoration: underline wavy;
}

p {
    line-height: 1.6;
    font-size: 1rem;
    color: #C5C6C7;
}


footer{
    background-color: #777C6D;
    text-align: center;
    font-weight: 600;
    border: 2px soild black;
    padding: 15px;
}
